
<launch>
	<!-- downsampling realsense points -->
	<node pkg="making_local_map" type="downsample_and_transform" name="downsample_and_transform"
		ns="making_localmap">
		<remap from="/cloud" to="/camera/depth_registered/points"/>
		<remap from="/cloud/downsampled" to="/realsense/downsampled"/>
	</node>

	<!-- min_max -->
	<node pkg="nodelet" type="nodelet" name="heightmap_realsense"
        args="load velodyne_height_map/HeightMapNodelet velodyne_nodelet_manager" ns="making_localmap">
		<param name="cell_size" value="0.1"/>
		<param name="full_clouds" value="true"/>
		<param name="grid_dimensions" value="50"/>
		<param name="height_threshold" value="0.20"/>
		<remap from="/velodyne_points" to="/realsense/downsampled"/>
		<remap from="/velodyne_obstacles" to="/realsense/obstacles"/>
		<remap from="/velodyne_clear" to="/realsense/clear"/>
	</node>

	<!-- hokuyo -->
	<node pkg="making_local_map" type="scan2pcl" name="scan2pcl" output="screen" ns="making_localmap">
		<remap from="/scan" to="/front_lasr/scan"/>
		<remap from="/cloud" to="/hokuyo_obstacles"/>
	</node>


	<!-- make each occupancygrid -->
		<!-- velodyne -->
	<node pkg="making_local_map" type="ground_and_obstacles_to_grid" name="velodyne_localmap" ns="making_localmap">
		<remap from="/rm_ground" to="/velodyne_obstacles"/>
		<remap from="/ground" to="/velodyne_clear"/>
		<remap from="/occupancygrid/lidar" to="/occupancygrid/velodyne"/>
		<param name="ROAD_INTENSITY_MIN" value="1" type="double"/>
		<param name="ROAD_INTENSITY_MAX" value="15" type="double"/>
		<param name="ZEROCELL_RATIO" value="0.4" type="double"/>
		<param name="FILTER_RANGE" value="3" type="int"/>
	</node>
		<!-- realsense -->
	<node pkg="making_local_map" type="realsense_to_grid" name="realsense_localmap" ns="making_localmap">
		<remap from="/rm_ground" to="/realsense/obstacles"/>
		<remap from="/ground" to="/realsense/clear"/>
		<remap from="/occupancygrid/lidar" to="/occupancygrid/realsense"/>
	</node>
		<!-- hokuyo -->
	<node pkg="making_local_map" type="hokuyo_raycast" name="hokuyo_localmap" ns="making_localmap">
		<remap from="/hokuyo_points" to="/hokuyo_obstacles"/>
		<remap from="/occupancygrid/lidar" to="/occupancygrid/hokuyo"/>
	</node>

	<!-- integrate localmap -->
	<node pkg="making_local_map" type="occupancygrid_integrate" name="occupancygrid_integrate" ns="making_localmap">
		<remap from="/occupancygrid/lidar/stored" to="/occupancygrid/velodyne"/>
		<remap from="/occupancygrid/realsense" to="/occupancygrid/realsense"/>
		<remap from="/occupancygrid/hokuyo" to="/occupancygrid/hokuyo"/>
		<param name="EXPAND_RANGE" value="3" type="int"/>
		<param name="EXPAND_RANGE_MINI" value="1" type="int"/>
	</node>

</launch>
