
<launch>
	<!-- velodyne -->
    <include file="$(find velodyne_height_map)/launch/amsl_velodyne_heightmap.launch" />
    <include file="$(find velodyne_pointcloud)/launch/32e_points.launch" />
	
	<!-- make costmap -->
	<node pkg="making_local_map" type="making_localmap" name="making_localmap">
		<remap from="/rm_ground" to="/velodyne_obstacles"/>
		<remap from="/ground" to="/velodyne_clear"/>
	</node>

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="/home/amsl/rviz/test.rviz"/>

	<!-- rosbag play -->
	<node pkg="rosbag" type="play" name="play" args="$(find velodyne_camera_calibration)/bagfiles/data.bag -l" />
</launch>
