
<launch>

    <node pkg="tf" type="static_transform_publisher" name="baselink2velodyne" 
          args="0.0 0.0 1.2 0.0 0.0 0.0 base_link velodyne 100" />

	<!-- velodyne -->
    <include file="$(find velodyne_height_map)/launch/amsl_velodyne_heightmap.launch" />
    <include file="$(find velodyne_pointcloud)/launch/32e_points.launch" />
	
	<!-- make costmap -->
	<node pkg="making_local_map" type="making_localmap" name="making_localmap">
		<remap from="/rm_ground" to="/velodyne_obstacles"/>
		<remap from="/ground" to="/velodyne_clear"/>
	</node>


    <!-- <node pkg="making_local_map" type="pc_ground_store" name="pc_ground_store"> -->
	<!-- 	<remap from="/occupancygrid/lidar" to="/occupancygrid/lidar"/> -->
	<!-- 	<!&#45;&#45; <remap from="/tinypower/odom" to="/odom"/> &#45;&#45;> -->
	<!-- 	<remap from="/occupancygrid/lidar/stored" to="/occupancygrid/lidar/stored"/> -->
	<!-- </node> -->

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="/home/amsl/rviz/test.rviz"/>

	<!-- rosbag play -->
	<node pkg="rosbag" type="play" name="play" args="--clock /home/amsl/bagfiles/ikuta_1st.bag -l" />
	<!-- <node pkg="rosbag" type="play" name="play" args="&#45;&#45;clock /home/amsl/bagfiles/2018&#45;09&#45;15&#45;16&#45;11&#45;46.bag &#45;l" /> -->
	<!-- <node pkg="rosbag" type="play" name="play" args="&#45;&#45;clock $(find velodyne_camera_calibration)/bagfiles/data.bag &#45;l" /> -->
</launch>
